script(src="/assets/js/app.js")

script(src="/assets/js/controllers/appController.js")
script(src="/assets/js/controllers/taskslistsController.js")
script(src="/assets/js/controllers/taskslistController.js")
script(src="/assets/js/controllers/addTaskController.js")
script(src="/assets/js/controllers/taskController.js")

script(src="/assets/js/directives/mediaQueriesWatcher.js")
script(src="/assets/js/directives/initializeWatcher.js")
script(src="/assets/js/directives/addTask.js")
//- script(src="/assets/js/directives/autoFocus.js")

script(src="/assets/js/services/uiServices.js")
script(src="/assets/js/services/dataServices.js")
script(src="/assets/js/services/tasksModelService.js")
script(src="/assets/js/services/taskslistModelService.js")
//- script(src="/assets/js/services/alarm.js")