meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
title(ng-bind-template='Loludebola | {{View.title()}} [#{mode} Mode] ')  
meta(name="description", content="")
meta(name="viewport", content="width=device-width, initial-scale=1")
//- link(rel="apple-touch-icon", href="locate-me.png")
//- Place favicon.ico in the root directory
link(rel="stylesheet", href="/assets/vendor/winjs/css/ui-light.css")
link(rel="stylesheet", href="/assets/vendor/flexboxgrid/css/flexboxgrid.css")
link(rel="stylesheet", href="/assets/styles/app.css")

base(href="/")
