include variables

mixin main

  doctype html
  
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><![endif]--> 
  
  html(ng-app="Loludebola", ng-controller="appController")
    head
      include head
    body(media-queries-watcher)
   
      if block
        block
      else
        p No content provided 

      include angular-scripts
      include winjs-scripts
      include angular-winjs-scripts
      include angular-audio-scripts
      include angular-toastr-scripts
      include app-scripts