mixin splitView
  
  win-split-view#splitView(closed-display-mode="'none'", initialize="", name="split-view")
  
    win-split-view-pane

      win-split-view-pane-toggle(split-view="splitViewElement")
    
      include splitViewCommands
      
    win-split-view-content

      win-split-view-pane-toggle(split-view="splitViewElement")

      if block
        block
      else
        h1.win-h1 No content to be displayed
