win-split-view-content#user-credits-wrapper
  .user-credits(ng-click="toggleUserMenu($event)")
    .profile-pic
      img(ng-src="/assets/images/souhail.jpg", title!="{{user.name}}")
    .user-name
      p Souhail RAZZOUK

  win-menu#user-menu
    win-menu-command(label="'\uE710 Sync'", type="'button'")
    hr(data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}")
    win-menu-command(label="'Edit My Profile'", type="'button'", ng-click="goTo('/profile/edit')")
    win-menu-command(label="'Settings'", icon="'settings'", type="'button'")
    hr(data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}")
    win-menu-command(label="'souhail.razzouk@hotmail.com'", type="'button'", disabled="true")
    win-menu-command(label="'Logout'", type="'button'", ng-click="goTo('/logout')")
    //- win-menu-command(label="'toggle option'", type="'toggle'", selected= "true")
    //- hr data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}"=
    //- win-menu-command(label="'flyout option'", type="'flyout'", flyout="select('#menuFlyout')")

//- .scrollable-commands-area
win-split-view-command(label="'Home'", icon="'home'", on-invoked="goTo('/')")
win-split-view-command(label="'Favorite'", icon="'favorite'", on-invoked="goTo('/favorites')")
win-split-view-command(label="'Settings'", icon="'settings'", on-invoked="goTo('/settings')")
win-split-view-command(label="'Account'", icon="'help'", on-invoked="goTo('/help')")
win-split-view-command(label="'Create Taskslist'", icon="'add'", on-invoked="goTo('/taskslists/add')")

//- on-invoked="goToHome()"