footer.no-appbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  @media #{$small-devices-and-up} {
    display: none !important;
  }
  
  @media #{$small-devices-portrait} {
    display: none !important;
  }
  
  @media #{$small-devices-landscape} {
    display: none !important;
  }
  
  @media #{$medium-devices-landscape} {
    display: none !important;
  }
  
  @media #{$medium-devices-portrait} {
    display: block !important;
  }
  
  @media #{$large-devices-and-up} {
    display: block !important;
  }
  
  .from {
    padding: 0 20px 0;
    
    p {
      font-size: 14px;
      display: inline-block;
    }
    
    .heart {
      color: #ff4500;
      font-size: 20px;
    }
    
    .morocco {
      width: 42px;
      vertical-align: middle;
      margin: 0 0 0 5px;
    }
  }

}