#app {
  
  .login {
    
    @media #{$small-devices-and-up} {
      display: block;
      width: 100%;
      height: 100%;
      padding: 60px 0 0;
      box-sizing: border-box;
    }
    
    @media #{$large-devices-and-up} {
      @include centered-block(100%, 286px);
      padding: 0;
    }
    
    .avatar {
      height: 150px;
      width: 150px;
      background-color: #3D3D3D;
      border-radius: 50%;
      padding: 15px;
      overflow: hidden;
      box-sizing: border-box;
      vertical-align: top;
      text-align: center;
      
      @media #{$small-devices-and-up} {
        display: block;
        margin: 0 auto 10px;
      }
      
      @media #{$large-devices-and-up} {
        display: inline-block;
        margin: 0;
      }
      
      img {
        height: 100%;
      }
    }
    
    form{
      box-sizing: border-box;
      max-width: 400px;
      text-align: left;
      
      display: inline-block;   
      
      @media #{$small-devices-and-up} {
        display: block;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto 60px;
      }   
      
      @media #{$large-devices-and-up}, #{extra-large-devices-and-up} {
        display: inline-block;
        padding: 10px 20px;
        width: 50%;
      }
      
      input:not([type=checkbox]) {
        display: block;
        width: 100%;
      }
      
      .remember-box {
        margin: 0 0 10px;
      }
      
      a#create-account {
        margin: 0 10px;
      }
      
      a#forgot-pass {
        display: inline-block;
        margin: 20px 0 0;
      }
    }
    
  }
}