.splash {
  width: 100%;
  height: 100%;

  #progress-bar {
    color: #fff;
    width: 100%;
    position: absolute;
    top: calc(50% + 142px);
  }
}

#logo {
  
  @media #{$small-devices-portrait} {
    @include centered-block(33%, 162px);
  }
  
  @media #{$medium-devices-and-up} {
    @include centered-block(100%, 162px);
  }
  
  @media #{$small-devices-landscape}, #{$medium-devices-landscape} {
    @include centered-block(100%, 170px);
  }
   
  img {
    display: block;
    margin: 0 auto;
    height: 96px;
    
    // @media #{$small-devices-portrait} {
    //   width: 100%;
    // }
    
    // @media #{$small-devices-landscape}, #{$medium-devices-landscape} {
    //   height: 100px;
    // }
  }
  
  .title {
    font-family: $font-family-Segoe; //$font-family-Cooper-Std
    font-size: 42px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin: 15px 0 0;

    @media #{$small-devices-portrait} {
      font-size: 2.5rem;
      overflow: visible;
      margin: 15px -1em 0;
    }
    
    @media #{$small-devices-landscape}, #{$medium-devices-landscape} {
      font-size: 2.5rem;
      margin: 20px 0 0;
    }
  }
}