#taskslistsGridView{
  height: 450px;

  .win-container{
    @media #{$small-devices-and-up} {
      height: 90px;
      width: 90px;
    }

    @media #{$medium-devices-and-up} {
      height: 120px;
      width: 120px;
    }

    @media #{$large-devices-and-up} {
      height: 200px;
      width: 200px;
    }
    
    .win-itembox{
      box-sizing: border-box;
      background-color: $light-blue-color;

      .win-item{
        padding: 10px;
        height: 180px;
      }
    }
  }
  
  .taskslist{
    width: 100%;
    height: 100%;
    
    img{
      width: 60px;  
      margin: 2px;              
    }
    
    .description{
      display: inline-block;
      vertical-align: top;
    }
  }
}