.taskslist-tool-bar{

  .tasks-list-title{

    @media #{$medium-devices-and-up} {
      padding: 0 20px;
    }

    @media #{$large-devices-and-up} {
      padding: 0 30px;
    }

    h2.title{
      display: inline-block;
      // margin-right: 10px;
    }
  }

  .left{
    position: absolute;
    left: 0;
  }
}

#add-task{  
  height: 54px;
  background-color: $silver-color;
  margin: 15px 24px 15px 7px;
  padding: 0 0 0 8px;

  @media #{$small-devices-and-up}{
    margin-left: 0px;
    margin-right: 0px;
  }

  @media #{$medium-devices-and-up}{
    margin-right: 7px;
  }

  @media #{$large-devices-and-up}{
    margin-right: 24px;
  }

  label{
    display: block;
  }

  .task-content{
    vertical-align: middle;
    display: inline-block;
    height: 53px;
    width: 100%;
    
    #add-task-form{
      vertical-align: top;
      width: 100%;
      display: inline-flex;
      justify-content: flex-start; 
      padding: 0 0 0 40px;
      box-sizing: border-box;
      
      .title-box{
        flex-grow: 1;
       
        input.task-title{
          width: 100%;
          height: 38px;
          font-size: 17px;
          margin: 7px 0;
          border: 0;
          background: transparent;
          box-sizing: content-box;
          outline: 0;
        }
      }
      
      .options-box{
        display: none;

        @media #{$large-devices-and-up} {
          display: block;
        }

        .command{
          height: 100%;
          min-width: 53px;
          color: $deep-gray-color;
          text-align: center;
          line-height: 2.7em;
          display: inline-block;
          

          &[type=submit]{
            margin-right: 5px;
          }
          
        }
      }

    }

    &::after{
      content: '\E710';
      color: $deep-gray-color;
      position: relative;
      height: 54px;
      font-size: 26px;
      font-weight: 100;
      margin: 0 0 0 2px;
      line-height: 2.1em;
      top: -54px;
      display: inline-block;
    }

  }

}

#tasks-list-view {
  // height: 100%;
  // max-height: 400px;

  .win-container{
    
    @media #{$small-devices-and-up}{
      margin-left: 0px;
      margin-right: 0px;
    }

    @media #{$medium-devices-and-up}{
      margin-right: 7px;
    }

    @media #{$large-devices-and-up}{
      margin-right: 24px;
    }

    .win-itembox{
      box-sizing: border-box;
      background-color: $silver-color;

      .win-item{
        padding: 0 10px;
        width: auto;

        .task{
          display: flex;

          .done{
            display: inline-block;
            vertical-align: sub;
          }

          .task-details{
            display: flex;
            flex-flow: column;
            width: calc(100% - 30px);;

            .title{
              width: calc(100% - 30px);

              p{
                margin: .7em 0;
              } 
            }

            .due{
              align-self: flex-end;
              display: none;

              @media #{$medium-devices-and-up} {
                display: block;
              }

              p{
                font-size: 13px;
                margin: 0 0 3px;
              }
            }
          }
        }

        .item-commands{
          position: absolute;
          top:0;
          right:0;
          width: 30px;
          height: 44px;
          border: 0;
          background: transparent;      
          // position: relative;
          // z-index: 1;
          // top: -62px;
          // left: calc(100% - 21px);
          // width: 30px;
          // height: 44px;

          &:after{
            content: '\E10C';
            font-family: $font-family-iconset;
          }

          &:hover{
            background: rgba(0, 0, 0, 0.15);
          }

          &:active {
            background: rgba(0, 0, 0, 0.25);
          } 
        }
      }
    }
  }

}