#task-view-header {
  height: 48px;
  line-height: 2em;
  display: inline-block;
  background: #e6e6e6;
  width: 100%;

  @media #{$small-devices-and-up} {
    position: absolute;
    top: 0;
    left: 48px;
  }

  @media #{$medium-devices-and-up} {
    position: static;
  }

  #back-to-list{
    height: 100%;
    display: inline-block;

    @media #{$small-devices-and-up} {
      width: 48px;
    }

  }

  span.win-back{
    width: 100%;
    height: 100%;
    
    @media #{$small-devices-and-up} {
      line-height: 48px;
      font-size: 26px;
    }
  }

  p{
    display: inline-block;
    vertical-align: top;

    @media #{$small-devices-and-up} {
      margin: 12px 0;
    }
  }
}

.task-details {
  display: flex;
  justify-content: flex-start; 

  .done {
    padding: 20px 0 0;
  }
  
  .title {
    flex-grow: 1;
    padding: 0 20px;
  }

  .favorite {
    padding:  20px 0 0;

    button.command {
      height: 53px;
      width: 53px;
      
      @media #{$medium-devices-and-up} {
        font-size: 25px;
      }

    }
  }

  .gold {
    color: #ffd700;
  }
}