#add-task(tabindex="0")
  .task-content
    form(id="add-task-form",
          ng-submit="addTask()")
      .title-box
        input#task-title.task-title(type="text",
                                        ng-model="newTask.title",
                                        name="description",
                                        placeholder="Add a Task ...",
                                        ng-focus="showOptionBox()"
                                        required)
      .options-box.ng-hide
        .command(ng-click="showTimeDateDialog()") &#xE121; &#xE163;
        .command &#xE1CE;

      win-content-dialog(primary-command-text="'OK'",
                          secondary-command-text="'Cancel'",
                          title="'Due Date'",
                          initialize="",
                          name="due-date-dialog",
                          hidden="TimeDateDialogHidden")
        label Due Date:
          win-date-picker#dueDate(win-control="dueDateWC", on-change="updateDueDate()")
            
        label Due Time:
          win-time-picker#dueTime(win-control="dueTimeWC", on-change="updateDueDate()")
