include ../includes/mobile-title
+view-title

win-tool-bar.taskslist-tool-bar(initialize="", name="taskslist-tool-bar")
  win-tool-bar-content.left.tasks-list-title(label="'Tasks List Title'", hidden="true", id="'taskslist-title'")
    h2.win-h2.title Home
  win-tool-bar-command(label="'Mark as done'", icon="'bullets'", id="'markDoneCommand'", hidden="true", on-click="markSelectedTasksAsDone()")
  win-tool-bar-command(label="'Delete'", icon="'delete'", id="'deleteCommand'",  hidden="true", on-click="deleteSelectedTasks()")
  win-tool-bar-command(label="'Sort'", icon="'sort'", id="'sortCommand'", on-click="showSortMenu($event)")
    
win-menu#sort-tasks-menu
  win-menu-command(label="'Sort alphabetically'", type="'button'")
  win-menu-command(label="'Sort by Due Date'", type="'button'")
  win-menu-command(label="'Sort by Creation Date'", type="'button'")

.content

  add-task#add-task
  
  //- h3.win-h3 My Taskslists:
  //- hr
  //- win-list-view#taskslistsGridView(item-data-source="taskslists")
      
  //-   win-item-template 
  //-     .taskslist(ng-click!="goToDetails(item.data.id)")
  //-       .title {{item.data.title}}
  //-       .author {{item.data.author.name}}
    
  //-   win-grid-layout

  //- h3.win-h3 Contribution Tasklists:
  //- hr
  //- win-list-view#taskslistsGridView(item-data-source="taskslists")
      
  //-   win-item-template 
  //-     .taskslist(ng-click!="goToDetails(item.data.id)")
  //-       .title {{item.data.title}}
  //-       .author {{item.data.author.name}}
    
  //-   win-grid-layout