#task-view-header
  a#back-to-list.command(ng-click="backToList()")
    span.win-back
  p.win-type-subtitle Back to list

.content

  .task-details
    .done
      input.win-checkbox(type="checkbox", ng-model="task.details.done")
    .title
      h2.win-h2 {{task.details.title}} 
    .favorite
      button.command.gold &#xE1CF; 
      //- &#xE1CE;


  .task-description
    h3.win-h3 Task Description:
    p {{task.details.description}}
  
  .subtasks

    h3.win-h3 Subtasks:

    win-list-view#subtasks-list-view(item-data-source="task.subtasks",
                                items-reorderable="'true'")
    
      win-item-template 
        .task
          p khi
      win-list-layout
