include ../includes/mobile-title
+view-title

win-tool-bar.taskslist-tool-bar(initialize="", name="taskslist-tool-bar")
  win-tool-bar-content.left.tasks-list-title(label="'Tasks List Title'", hidden="true", id="'taskslist-title'")
    h2.win-h2.title {{taskslist.details.title}}
  win-tool-bar-command(label="'Mark as done'", icon="'bullets'", id="'markDoneCommand'", hidden="true", on-click="markSelectedTasksAsDone()")
  win-tool-bar-command(label="'Delete'", icon="'delete'", id="'deleteCommand'",  hidden="true", on-click="deleteSelectedTasks()")
  win-tool-bar-command(label="'Sort'", icon="'sort'", id="'sortCommand'", on-click="showSortMenu($event)")
    
win-menu#sort-tasks-menu
  win-menu-command(label="'Sort alphabetically'", type="'button'")
  win-menu-command(label="'Sort by Due Date'", type="'button'")
  win-menu-command(label="'Sort by Creation Date'", type="'button'")
  
.content

  h3.win-h3 Tasks:

  add-task(datasource="taskslist")

  win-list-view#tasks-list-view(item-data-source="taskslist.tasks",
                                selection="selectedIndexes",
                                items-reorderable="'true'")
    
    win-item-template 
      .task
        .done
          input.win-checkbox(type="checkbox",
                             ng-model="item.data.done")
        .task-details(ng-click="goToTask(item.data.id)")
          .title
            p.win-type-ellipsis {{item.data.title}}
          .due(ng-show="item.data.dueDate")
            p Due on: {{item.data.dueDate}}
      button.item-commands(ng-hide="selectedTasks.length > 0", ng-click="showTaskMenu($event, item.data.id)")
      win-menu(id!="task-menu-{{item.data.id}}")
        win-menu-command(id="deleteThisTaskMenuItem", label="'Delete task'", type="'button'", ng-click!="deleteTask(item.data.id)")
        win-menu-command(label="'Mark as Favorite'", type="'button'")

    win-list-layout

  hr

  //- h3.win-h3.win-type-header Details
  .row
    .col-xs-12.col-lg-8
      h3.win-type-subtitle Description
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quo ab dolore, sunt, distinctio labore, beatae laboriosam libero, accusamus dignissimos iste esse? Itaque beatae consequuntur incidunt, dolorum accusamus, a illo!
    .col-xs-12.col-lg-4
      h3.win-type-subtitle Owner
      p AG

      h3.win-type-subtitle Contributors
      .row.contributors
        .col-xs-4
          p AG
        .col-xs-4
          p AG
        .col-xs-4
          p AG
        .col-xs-4
          p AG
        .col-xs-4
          p AG
        