@import "fonts";
@import "settings";
@import "mixins";
// @import "article-defaults-dark";

html,
body,
main {
  height: 100%;
  font-family:  $font-family-Segoe;
}

body{

  .win-clickeater{
    z-index: 0 !important;
    display: none !important;
  }

  &:after {
    @media #{$small-devices-and-up} {  
      content: 'small';
    }

    @media #{$medium-devices-and-up} {  
      content: 'medium';
    }

    @media #{$large-devices-and-up} {  
      content: 'largeAndUp';
    }

    display: none;
  }
  
}

div {
  font-family:  $font-family-Segoe;
}

.content,
#app {
    height: 100%;
}

#app {
  display: block;
  // background-color: $main-color;
  
  @media #{$small-devices-and-up} {
    overflow-y: auto;
  }
  
  @media #{$large-devices-and-up} {
    overflow: hidden;
  }

  .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
  }

  .win-splitview-pane{

    // .scrollable-commands-area{
    //   overflow-y: auto;
    // }

    .user-credits{
      display: flex;
      padding: 0 8px;
      height: 48px;

      .profile-pic{
        flex: 0 0 auto;

        img{
          width: 32px;
          border-radius: 50%;
          margin: 8px 4px 8px 0;
        }
      }

      .user-name{
        flex: 1 1 0%;
        position: relative;
        
        p{
          margin: .8em 0 .8em 10px;
          font-weight: 100;
          display: inline-block
        }

        &:after {
          content: '\E011';
          position: relative;
          top: 0;
          right: 0;
          color: #{$deep-gray-color};
          vertical-align: middle;
          margin: 2em;
        }
      }

      &:hover{
        background: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background: rgba(0, 0, 0, 0.2);
      } 

    }

  }

  .win-splitview-content {
    box-sizing: border-box;
    overflow-y: auto;
    
    // #user-menu{
    //   // z-index: 999999 !important;
    // }

    #view-title-mobile{
      height: 48px;
      line-height: 2em;
      position: absolute;
      top: 0;
      left: 48px;
      display: inline-block;

      @media #{$medium-devices-and-up} {
        @include hide();
      }
      
      h2.title{
        display: inline-block;
        margin: 12px 10px;
        margin-right: 2px;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .win-splitviewpanetoggle {
      
      @media #{$medium-devices-and-up} {
        display: none;
      }
    
    }

    > div[ng-transclude]:not(.content){
      height: 100%;
    }
  
    .content {
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100% - 50px);
      box-sizing: border-box;
      
      @media #{$small-devices-and-up}{
        padding: 15px 10px 0;    
      }
      
      @media #{$medium-devices-and-up}{
        padding: 15px 20px 0;    
      }
  
      @media #{$large-devices-and-up}{
        padding: 20px 30px 0;    
      }
      
      .text{
        margin: 0 0 100px;
      }
      
    } 
    
  }
  
}

.command{
  margin: 0;
  border: 0;
  font-family: $font-family-iconset;
  font-size: 20px;
  font-weight: 100;
  background: transparent;

  &:hover{
    background: rgba(0, 0, 0, 0.15);
  }

  &:active {
    background: rgba(0, 0, 0, 0.25);
  }
}

// Hack for the listviews items' border over the menus
html.win-hoverable .win-listview .win-itembox:hover::before, 
html.win-hoverable .win-itemcontainer .win-itembox:hover::before{
  z-index: 1 !important;
}

@import "components/splash";
@import "components/login";
@import "components/toaster";
@import "components/footer";

@import "pages/home";
@import "pages/taskslist";
@import "pages/task";
