@font-face {
  font-family: 'Cooper Std';
  src: url('../fonts/CooperBlackStd/CooperBlackStd.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/CooperBlackStd/CooperBlackStd.otf')  format('opentype'),
	     url('../fonts/CooperBlackStd/CooperBlackStd.woff') format('woff'), 
       url('../fonts/CooperBlackStd/CooperBlackStd.ttf')  format('truetype'), 
       url('../fonts/CooperBlackStd/CooperBlackStd.svg#CooperBlackStd') format('svg');
  font-weight: normal;
  font-style: normal;
}